*{
    font-family: monospace;
    box-sizing: border-box;
}

.index-login {
    width: 500px;
    /*height: 400px;*/
    background-color: #ffffff42;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.main-login{
    padding: 15px 20px;
}

.line-login {
    display: flex;
    align-items: center;
    color: #ccc;
    margin: auto;
    width: 90%;
}

.line {
    flex-grow: 1;
    border-top: 1px solid #ccc;
}

.line-main {
    padding: 0 10px;
    font-size: 16px;
    color: white;
}

.register-login {
    font-size: 15px;
}

.register-login a{
    color: #0056b3;
}

.register-login a:hover{
    color: #4974e0;
    cursor: pointer;
}