*{
    font-family: monospace;
    box-sizing: border-box;
}

.index-login {
    width: 500px;
    /*height: 400px;*/
    background-color: #ffffff42;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.main-login{
    padding: 15px 20px;
}

.title-login{
    padding: 25px 40px 15px;
}

.title-login h2{
    margin: 0;
}

.title-login p{
    font-size: 17px;
    margin: 9px;
}

.form-login {

}

.form-login input{
    width: 90%;
    border: none;
    border-radius: 10px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.39);
    color: #fff;
    padding: 0 20px;
    font-size: 15px;
}

.form-login input::placeholder{
    color: #fff;
}

.user-login {
    padding: 0 0 15px 0;
}

.password-login {
    padding: 5px 0 20px 0;
    position: relative;
}

.password-login svg{
    position: absolute;
    right: 35px;
    top: 16px;
    font-size: 20px;
}

.remember-login {
    display: flex;
    padding: 0 25px;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
}

.remember-login input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 1.25em;
    height: 1.25em;
    border: 1px solid #cacaca;
    border-radius: 4px;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 0.5em;
    background-color: transparent;
}

.remember-login input[type="checkbox"]:checked {
    background-color: #a151d1;
    border-color: #7a7a7a;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>');
    background-size: 100%;
    background-repeat: no-repeat;
}

.remember-login a {
    text-decoration: none;
    color: #ffffff;
}

.remember-login a:hover {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
}

.button-login {
    padding: 20px 0 45px;
    margin-bottom: 15px;
    width: 90%;
    margin: auto;
}

.button-login button{
     width: 100%;
     height: 35px;
     border: none;
     border-radius: 10px;
     color: white;
     font-size: 18px;
     background: linear-gradient(90deg,
     rgba(83,58,182,1) 0%, rgba(66,74,235,1) 12%,
     rgba(78,68,227,1) 23%, rgba(80,57,224,1) 35%,
     rgba(74,51,210,1) 47%, rgba(73,50,201,1) 56%,
     rgba(65,40,201,1) 66%, rgba(64,39,198,1) 72%,
     rgba(62,38,191,1) 78%, rgba(58,34,173,1) 90%,
     rgba(75,48,191,1) 100%);
     font-weight: 800;
}

.button-login button:hover{
    background: linear-gradient(90deg, rgba(77,52,177,1) 0%,
    rgba(40,49,217,1) 12%, rgba(50,39,208,1) 22%,
    rgba(60,36,212,1) 35%, rgba(50,27,189,1) 47%,
    rgba(59,34,196,1) 56%, rgba(50,26,177,1) 66%,
    rgba(55,30,186,1) 72%, rgba(57,35,175,1) 78%,
    rgba(58,34,173,1) 90%, rgba(56,30,182,1) 90%,
    rgba(75,48,191,1) 100%);
}

.line-login {
    display: flex;
    align-items: center;
    color: #ccc;
    margin: auto;
    width: 90%;
}

.line {
    flex-grow: 1;
    border-top: 1px solid #ccc;
}

.line-main {
    padding: 0 10px;
    font-size: 16px;
    color: white;
}

